.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  .content {
    flex: 1;
    text-align: center;
  }
  .header {
    background-color: rgb(250, 250, 250);
    height: 60px;
    .selected {
      color: #333 !important;
      padding-bottom: 5px;
      border-bottom: 1.5px solid #333;
    }
    .box {
      width: 70%;
      height: 100%;

      display: flex;
      align-items: center;
      justify-content: space-between;
      a:hover {
        text-decoration: none;
      }
      .boxleft {
        img{
          width:80px;
          height:70px;
          object-fit:cover;
        }
        padding: 0px 5px 0px 100px;
        margin: 10px 5px;
      }
      

      .boxright {
        display: inline-flex;
        justify-content: flex-start;
        padding: 0px 5px 0px 100px;
        margin: 0px 5px 0px 600px;
        p {
          margin: 0px 10px;
          font-size: 14px;
          color: rgb(102, 102, 102);
          border-bottom: 0px solid #000;
    
        }
      }
      div {
        cursor: pointer;
      }
    }
  }
  .footer {
    text-align: center;
    padding: 20px 0px;
    margin-top: 10px;;
    color: rgb(102, 102, 102);
    background: #fafafa;
    border-top: 2px solid #f2f2f2;
    p {
      padding: 2px 0px;
    }
  }
}
