.wrap {
  flex: 1;
  width: 70%;
  margin: 0px auto;
  text-align: center;
  margin: 5px auto;
  
  .title {
    padding-top: 30px;
    padding-bottom: 40px;
    margin-bottom: 10px;
    background: #cddfc7;
    h3 {
      font-size: 30px;
      padding-bottom: 12px;
      color: rgba(0, 0, 0, 0.8);
      font-weight: 400;
      border: 10px;
    }
    p {
      color: rgba(0, 0, 0, 0.7);
     
    }
    
  }
}
