.wrap {
  text-align: left;
  flex: 1;
  .box {
    width: 650px;
    margin: 0px auto;
    padding: 40px 0px;
    .title {

      .backgroundColor{
        backgroundColor: #cddfc7;
        h1 {
          
          font-size: 24px;
        }

      }
     
      p {
        color: rgb(129, 126, 126);
        padding-top: 20px;
        font-size: 18px;
      }
      img {
        width: 4%;
        margin-top: 20px;
        box-shadow: 0px 0px 2px 0px rgb(246, 239, 233);
      }
    img:hover {
      box-shadow: 0px 0px 15px 3px rgb(252, 115, 2);
    }
      a {
        margin-top: 20px;
        padding-top: 60px;
        font-size: 18px;
      }
    }
  }
}
