
.wrap{
    text-align: left;
    flex: 1;
    .box{
        width: 650px;
        margin: 0px auto;
        padding: 40px 0px;
        .title{
            h1{
                font-size: 24px;
            }
            p{
                
                color: rgb(129, 126, 126);
                padding-top: 20px;
                font-size: 18px;
            }
        
        .link{
            padding-top: 60px;
            font-size: 16px;


        }
            }
        
    }
}