
    .wrap{
        flex: 1;
        width: 70%;
        margin: 0px auto;
        .brief{
           text-align: center;
           h2{
             padding: 12px 0px;
             font-size: 20px;
           }
           img{
              width: 130px;
              height: 160px;
              border-radius: 50px;
              margin-top: 20px;
              box-shadow:0px 0px 2px 0px rgb(253, 251, 251)
           }
           img:hover{
               box-shadow: 0px 0px 15px 3px rgba(184, 250, 3, 0.8)
           }
           ul{
            display: flex;
            justify-content: center;
             li{
                padding: 6px 10px;
                background: rgba(87, 199, 255, 0.1);
                margin: 12px 5px;
                border-radius: 3px;
             }      
           }
           
           p{
            padding: 12px 0px;
            color: rgba(0, 0, 0, 0.7);
          }
        }

    }